<configuration>
  <generator>
    <default 
    collectionNaming="DataTable" 
    createNamespaceFolders="false" 
    iterationType="ComplexElement" 
    outputCompiled="false" 
    outputSource="true" 
    targetAssembly="NMatrix.XDL.Generated.dll"
    targetFolder="XDL"
    typeNaming="Row" />
    <assemblyReference>System.Data.dll</assemblyReference>
    <assemblyReference>NMatrix.XDL.dll</assemblyReference>
	<namespaceImport>System</namespaceImport>
	<namespaceImport>System.Data</namespaceImport>
	<namespaceImport>System.Xml</namespaceImport>
	<namespaceImport>System.Runtime.Serialization</namespaceImport>
	<namespaceImport>NMatrix.XDL</namespaceImport>
	<namespaceImport>NMatrix.XDL.Wrappers</namespaceImport>
  </generator>
  <extender>
    <visitors>
      <visitor runOrder="3" type="NMatrix.XGoF.PlugIn.XDL.DataTables.DataTableBuilder, NMatrix.XGoF.PlugIn.XDL" enabled="true" />
      <visitor runOrder="4" type="NMatrix.XGoF.PlugIn.XDL.DataSets.DataSetBuilder, NMatrix.XGoF.PlugIn.XDL" enabled="true" />
      <visitor runOrder="5" type="NMatrix.XGoF.PlugIn.XDL.DataSets.DelegatesBuilder, NMatrix.XGoF.PlugIn.XDL" enabled="true" />
      <visitor runOrder="6" type="NMatrix.XGoF.PlugIn.XDL.DataRows.DataRowBuilder, NMatrix.XGoF.PlugIn.XDL" enabled="true" />
      <visitor runOrder="7" type="NMatrix.XGoF.PlugIn.XDL.DataRows.RelationsBuilder, NMatrix.XGoF.PlugIn.XDL" enabled="true" />
      <visitor runOrder="10" type="NMatrix.XGoF.PlugIn.XDL.DataSets.DataSetOrganizer, NMatrix.XGoF.PlugIn.XDL" enabled="true" />
    </visitors>
  </extender>
  <runner>
    <sources>
      <source file="E:\DiscoDany\NMatrix\XDL\XGoF.PlugIn\dsTest.xsd" />
    </sources>
  </runner>
</configuration>
<!-- ALL PATHS ARE RELATIVE TO THE FOLDER WHERE THE CONSOLE APP IS RUNNING FROM -->