<configuration>
  <generator>
    <default 
        collectionNaming="DataTable" 
        createNamespaceFolders="false" 
        iterationType="ComplexElement" 
        outputCompiled="false" 
        outputSource="true" 
        targetAssembly="TypedDataSet.dll" 
        targetFolder="" 
        typeNaming="Row" />
    <assemblyReference>System.Data.dll</assemblyReference>
    <namespaceImport>System.Data</namespaceImport>
    <namespaceImport>System.Runtime.Serialization</namespaceImport>
  </generator>
  <extender>
    <visitors>
      <visitor runOrder="2" type="NMatrix.XGoF.Visitors.Organizer, NMatrix.XGoF" enabled="false" />
      <visitor runOrder="3" type="NMatrix.XGoF.PlugIn.TypedDataSet.DataRows, NMatrix.XGoF.PlugIn.TypedDataSet" enabled="true" />
      <visitor runOrder="4" type="NMatrix.XGoF.PlugIn.TypedDataSet.Constraints, NMatrix.XGoF.PlugIn.TypedDataSet" enabled="true" />
      <visitor runOrder="5" type="NMatrix.XGoF.PlugIn.TypedDataSet.Constructors, NMatrix.XGoF.PlugIn.TypedDataSet" enabled="true" />
      <visitor runOrder="6" type="NMatrix.XGoF.PlugIn.TypedDataSet.Initializations, NMatrix.XGoF.PlugIn.TypedDataSet" enabled="true" />
      <visitor runOrder="7" type="NMatrix.XGoF.PlugIn.TypedDataSet.DataSetOrganizer, NMatrix.XGoF.PlugIn.TypedDataSet" enabled="true" />
    </visitors>
  </extender>
  <runner>
    <customizations>
      <customization file="E:\DiscoDany\NMatrix\XGoF\TypedDataSet\TypedDataSet.xml" runOrder="0" enabled="true" />
      <customization file="E:\DiscoDany\NMatrix\XGoF\TypedDataSet\TypedDataTable.xml" runOrder="0" enabled="false" />
    </customizations>
    <sources>
      <source file="E:\DiscoDany\NMatrix\XGoF\Samples\dsPublishers.xsd">
		    <customizations>
			    <customization file="E:\DiscoDany\NMatrix\XGoF\TypedDataSet\TypedDataTable.xml" />
		    </customizations>
      </source>
      <source file="E:\DiscoDany\NMatrix\XGoF\Samples\pubs.xsd">
		    <customizations>
			    <customization file="E:\DiscoDany\NMatrix\XGoF\TypedDataSet\TypedDataTable.xml" />
		    </customizations>
      </source>
    </sources>
  </runner>
</configuration>
<!-- ALL PATHS ARE RELATIVE TO THE FOLDER WHERE THE CONSOLE APP IS RUNNING FROM -->