<configuration>
	<configSections>
		<section name="generator" type="NMatrix.XGoF.Configuration.GeneratorSectionHandler, NMatrix.XGoF" />
		<section name="extender" type="NMatrix.XGoF.Configuration.ExtenderSectionHandler, NMatrix.XGoF" />
		<section name="runner" type="NMatrix.XGoF.Configuration.RunnerSectionHandler, NMatrix.XGoF" />
		<section name="custom" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	
	<generator>
		<default 
		  collectionNaming="s" 
		  createNamespaceFolders="false" 
		  outputCompiled="true" 
		  outputSource="false" 
		  provider="Microsoft.CSharp.CSharpCodeProvider, System, Culture=neutral, Version=1.0.3300.0, PublicKeyToken=b77a5c561934e089" 
		  targetAssembly="NMatrix.Generated.dll" 
		  targetFolder="" 
		  typeNaming="" 
		  validateCustomizations="true" 
		  generateContainerProperty="false" 
		  iterationType="ComplexType" />
		<assemblyReference>System.dll</assemblyReference>
		<assemblyReference>System.Xml.dll</assemblyReference>
		<namespaceImport>System</namespaceImport>
		<namespaceImport>System.Xml</namespaceImport>
	</generator>
	
	<extender>
		<traversers>
			<traverser type="NMatrix.XGoF.XSD.Traverser, NMatrix.XGoF" enabled="true" />
		</traversers>
		
		<visitors>
			<visitor runOrder="0" type="NMatrix.XGoF.Visitors.ClassBuilder, NMatrix.XGoF" enabled="true" />
			<visitor runOrder="0" type="NMatrix.XGoF.Visitors.PropertyBuilder, NMatrix.XGoF" enabled="true" />
			<visitor runOrder="0" type="NMatrix.XGoF.Visitors.CollectionBuilder, NMatrix.XGoF" enabled="true" />
			<visitor runOrder="1" type="NMatrix.XGoF.Visitors.ConstructorBuilder, NMatrix.XGoF" enabled="true" />
			<visitor runOrder="1" type="NMatrix.XGoF.Visitors.MemberBuilder, NMatrix.XGoF" enabled="true" />
			<visitor runOrder="2" type="NMatrix.XGoF.Visitors.Organizer, NMatrix.XGoF" enabled="true" />
			<!-- runOrder="-1" will force this visitor to be run last. --> 
			<visitor runOrder="-1" type="NMatrix.XGoF.Visitors.PropertyBackerBuilder, NMatrix.XGoF" enabled="true" />
		</visitors>
		
		<retrievers>
			<retriever type="NMatrix.XGoF.Customization.CustomizationRetriever, NMatrix.XGoF" enabled="true" />
		</retrievers>
	</extender>
	
	<custom>
		<add key="myKey" value="myValue" />
	</custom>
</configuration>